{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="Email">Email</label>
    <input type="email" id="email" name="email" required>
    <label for="Nickname">Nickname</label>
    <input type="text" id="nickname" name="nickname" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" required>
    <input type="submit" value="Register">
  </form>
{% endblock %}